@import 'variables';

.contacts {
  padding-top: $paddingSection;
  padding-bottom: $paddingSection;
}

.contacts__inner {
  display: flex;
  justify-content: center;
}

.contacts__header {
  width: 530px;
  margin-right: 24px;
}

.contacts__title {
  color: $text;
  h2 {
    @include heading2();
  }
}

.contacts__suptitle {
  color: $lightGrey;
  padding-top: 24px;
  p {
    @include body1();
  }
}

.contact__form {
  ul {
    list-style-type: none;
    list-style-position: outside;
    padding-inline-start: 0px;
    margin-bottom: 16px;
  }

  h2 {
    color: $text;
    @include body2();
    padding-bottom: 8px;
  }
}

.contact__input {
  width: 526px;
  padding: 20px 24px 20px 20px;
  background-color: $level1;
  border: none;

  &:focus {
    background-color: $darkGrey;
  }

  &:hover {
    background-color: $darkGrey;
  }

  &:active {
    background-color: $darkGrey;
  }

}

.contact__textarea {
  width: 526px;
  min-height: 100px;
  padding: 20px 24px 20px 20px;
  background-color: $level1;
  border: none;
}


.send__button {
  padding-top: 24px;
}

.send__button__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 100%;
    margin: 0 auto;
    background: $primary;
    text-align: center;
    padding: 24px 0;
    color: $text;
    @include button();
  }
}